* {
    box-sizing: border-box;
}

body.bg-dark {
    background-color: #2b2b2b !important;
}

.header-section {
    background-color: #424242 !important;
}

.logo-box {
    background-color: orange;
    min-height: 60px;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 15px;
    color: #111;
    font-weight: bold;
}

.botonGris {
    background-color: #bebebe;
    min-height: 40px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 0 15px;
    flex: 1 1 auto;
    max-width: 150px;
}

.botonNaranja {
    background-color: orange;
    min-height: 40px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding: 0 15px;
    flex: 1 1 auto;
    max-width: 150px;
}

.botongrandesito {
    background-color: #7a7a7a;
    min-height: 550px;
    width: 100%;
    border-radius: 12px;
    max-width: 1600px;
}

.botonesInteriores {
    background-color: #fcfcfc;
    min-height: 50px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.botonesInterioresallado {
    background-color: #ffae00;
    min-height: 50px;
    min-width: 120px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cuadradodeimagen {
    background-color: #ffc400;
    aspect-ratio: 1;
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    font-weight: bold;
}

.cuadradodeimagen2 {
    background-color: #838383;
    min-height: 50px;
    border-radius: 6px;
    color: #fff;
    font-weight: bold;
}

.lineasdetexto {
    background-color: #494949;
    min-height: 20px;
    border-radius: 4px;
}

.cuadradodeimagen3 {
    background-color: #1a1a1a;
    border-radius: 12px;
    min-height: 100%;
}

.cuadradodeimagenpequena1 {
    background-color: #5f5f5f;
    min-height: 80px;
    min-width: 80px;
    width: 80px;
    border-radius: 8px;
}

.lineadetexto {
    background-color: #494949;
    min-height: 15px;
    border-radius: 4px;
}

.lineadetextopequena1, .lineadetextopequena2 {
    background-color: #3a3a3a;
    min-height: 10px;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .botongrandesito {
        min-height: 300px;
    }
}
