* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family: Arial;
    min-height: 100vh;
    height: 100vh;
}

.container {
    padding: 20px;
}

.row {
    margin: 0;
}

.title {
    width: 200px;
    height: 40px;
    background: #ff6a00;
    margin-bottom: 15px;

}

.subtitle {
    width: 300px;
    height: 15px;
    background: #555;
    margin-bottom: 15px;
}


.posts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.post {
    display: flex;
    gap: 20px;
}

.thumb {
    width: 120px;
    height: 120px;
    background: #777;
}

.content {
    flex: 120;
    height: 120px;
    background: #444;
}


.bottom-line {
    width: 200px;
    height: 10px;
    background: #555;
    margin: 10px;
    margin-left: auto;
}

.foot-card {
    width: 420px;
    height: 300px;
    padding: 30px;
}

.footer {
    background: #333;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.foot-title {
    height: 30px;
    background: #ff6a00;
    margin-bottom: 20px;
}

.foot-line {
    height: 10px;
    background: #555;
    margin-bottom: 8px;
}

.post {
    width: 100%;
    gap: 20px;
}

.content {
    flex: 1;
}

/* ===== REBOTE ===== */

.rebote {
    animation: bounce 0.5s ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

/* elementos clickeables */
.logo,
.icon,
.search,
.btn,
.mini,
.card,
.thumb,
.content,
.foot-card {
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    * { max-width: 100% !important; }
    body { overflow-x: hidden; }
    div, section, article, header, nav, footer { margin-left: auto !important; margin-right: auto !important; }
    .container, .container-fluid, .row, .col-12, .col-sm-6, .col-md-8, .col-lg-8, .col-xl-6, .col-xxl-6, .col-sm-12, .col-md-4, .col-lg-4 { margin-left: 0 !important; margin-right: 0 !important; max-width: 100% !important; }
    .botonesInteriores, .botonesInterioresallado, .cuadradodeimagen, .cuadradodeimagen2, .lineasdetexto1, .lineasdetexto2, .lineasdetexto3, .lineasdetexto4, .lineasdetexto5, .cuadradodeimagen1, .cuadradodeimagen3, .lineadetexto, .lineadetextopequena1, .lineadetextopequena2, .botongrandesito { margin-left: auto !important; margin-right: auto !important; margin-top: 15px !important; margin-bottom: 15px !important; }
    .menu, .navbar { height: auto !important; padding-left: 10px !important; padding-right: 10px !important; }
    .sidebar, .bloquePrincipal, .cuerpo, .contenido-principal { min-width: 100% !important; width: 100% !important; padding: 10px !important; margin: 10px 0 !important; }
    .logo { margin-left: auto !important; margin-right: auto !important; }
}

